<h2 class="section-title">Call for Contributions</h2>

<p class="about-description">We invite participants from all fields of robotics to submit extended abstracts related to the workshop topic, anywhere on the spectrum between model-based planning and model-free learning. Submissions should be up to 3 pages + references using the <a href="https://roboticsconference.org/information/authorinfo/" target="_blank">RSS template</a> and should not be anonymized.</p>

<p class="about-description">Submissions can include original research, late-breaking results, position papers, and literature reviews. Significant overlap with work submitted to other venues is acceptable, as long as it has not yet been published or presented. </p>

<p class="about-description">Accepted submissions will be required to provide pre-recorded 3-minute spotlight talks and present at a dedicated poster session. All accepted abstracts will be posted on the workshop website. <p>

<br>

<p><b>Important dates</b></p>
<p class="about-description">Submission deadline: <b>June 20th</b></p>
<p class="about-description">Notification of acceptance: <b>July 1st</b></p>
<p class="about-description">Camera-ready deadline: <b>July 7th</b></p>
<p class="about-description">Presentation video deadline: <b>July 10th</b></p>

<br>

<p class="about-description">Submission website: <a href="https://cmt3.research.microsoft.com/WIPL2021/" target="_blank">https://cmt3.research.microsoft.com/WIPL2021/</a></p>

