<h2 class="section-title">Accepted Contributions</h2>

<ul>
  {{ range $contribution := .contributions }}
  <li class="contribution-item">
    <span class="contribution-title">{{ $contribution.title }}</span>{{ with $contribution.paperLink }} <a target="#" href={{ $contribution.paperLink }}><b>[paper]</b></a>{{ end }}{{ with $contribution.videoLink }} <a target="#" href={{ $contribution.videoLink }}><b>[video]</b></a>{{ end }}
    <br/>
    <i>{{ $contribution.authors }}</i>
  </li>
  <br/>
  {{ end }}
</ul>
