<nav id="nav">
  <div class="wrapper">
    {{ range $section := $.Site.Params.Sections }}
    <a href="#{{ $section }}" title="{{ index $.Site.Params.Titles $section }}" class="nav-item">
      {{ index $.Site.Params.Titles $section }}
    </a>
    {{ end }}
  </div>
</nav>

<nav id="fixed-nav">
  <div class="wrapper">
    {{ range $section := $.Site.Params.Sections }}
    <a href="#{{ $section }}" title="{{ index $.Site.Params.Titles $section }}" class="nav-item">
      {{ index $.Site.Params.Titles $section }}
    </a>
    {{ end }}
  </div>
</nav>
