<h2 class="section-title">{{ .titles.schedule }}</h2>
<div class="schedule-tbl">
  <table>
    <thead>
      <tr>
        <th class="schedule-time">Time</th>
        <th class="schedule-description">Description</th>
        <th class="schedule-slot">Participants</th>
      </tr>
    </thead>
    <tbody>
      {{ range $slot := .schedules }}
        <tr>
          <td class="schedule-time">
            <ul>
              <li>(<a href="https://www.timeanddate.com/time/zones/pdt" target="_blank">PDT</a>) {{ $slot.timePdt }}</li>
              <li>(<a href="https://www.timeanddate.com/time/zones/cest" target="_blank">CEST</a>) {{ $slot.timeCest }}</li>
              <li>(<a href="https://www.timeanddate.com/time/zones/sgt" target="_blank">SGT</a>) {{ $slot.timeSgt }}</li>
            </ul>
          </td>
          <td class="schedule-description">{{ $slot.description }}</td>
          <td class="schedule-slot">
            {{ range $photo := .participants }}
            <div class="schedule-speaker-entry">
              <span class="speaker-photo">
                <img class="photo" src="{{ .photo }}" alt="{{ .name }}">
              </span>
              {{ .name }}
            </div>
            {{ end }}
            {{ with .participantstext }}
            {{ . }}
            {{ end }}

            {{ .presentation.title }}
            <span class="speakers-company">{{ $slot.company }}</span>
          </td>
        </tr>
      {{ end }}
    </tbody>
  </table>
</div>
