<h2 class="section-title">{{ .titles.schedule }}</h2>
<div class="schedule-tbl">
  <table>
    <thead>
      <tr>
        <th class="schedule-time">Time</th>
        <th class="schedule-slot">Participants</th>
        <th class="schedule-description">Description</th>
      </tr>
    </thead>
    <tbody>
      {{ range $slot := .schedules }}
        <tr>
          <td class="schedule-time">
            <ul>
              <li>{{ $slot.timePdt }}</li>
              <li class="schedule-time-zone">(<a href="https://www.timeanddate.com/time/zones/pdt" target="_blank">PDT{{ $slot.timePdtDetails }}</a>)</li>
              <li>{{ $slot.timeCest }}</li>
              <li class="schedule-time-zone">(<a href="https://www.timeanddate.com/time/zones/cest" target="_blank">CEST{{ $slot.timeCestDetails }}</a>)</li>
              <li>{{ $slot.timeSgt }}</li>
              <li class="schedule-time-zone">(<a href="https://www.timeanddate.com/time/zones/sgt" target="_blank">SGT{{ $slot.timeSgtDetails }}</a>)</li>
            </ul>
          </td>
          <td class="schedule-slot">
            {{ range $photo := .participants }}
            <div class="schedule-speaker-entry">
              <span class="speaker-photo">
                <img class="photo" src="{{ .photo }}" alt="{{ .name }}">
              </span>
              {{ .name }}
            </div>
            {{ end }}

            {{ with .moderator }}
            <b>Moderator:</b>
            <div class="schedule-speaker-entry">
              <span class="speaker-photo">
                <img class="photo" src="{{ .photo }}" alt="{{ .name }}">
              </span>
              {{ .name }}
            </div>
            {{ end }}


            {{ with .participantstext }}
            {{ . }}
            {{ end }}

          </td>
          <td class="schedule-description">{{ $slot.description }}</td>
        </tr>
      {{ end }}
    </tbody>
  </table>
</div>
