<h2 class="section-title">{{ .titles.speakers }}</h2>

<ul class="speakers-list">
{{ range $speaker := (where .schedule "presentation" "ne" nil) }}
  <li class="speakers-item" itemprop="performer" itemscope itemtype="http://schema.org/Person">
    {{ with .photo }}
      <span class="speaker-photo">
        <img class="photo" src="{{ . }}" alt="{{ $speaker.name }}" itemprop="image">
      </span>
    {{ end }}

    <h3 class="speaker-main-name">
      <span>{{ .name }}</span>
    </h3>

    <h3 class="speaker-main-company">{{ .company }}
    </h3>
  </li>
{{ end }}
</ul>
