<h2 class="section-title">{{ .titles.topics }}</h2>

<p class="about-list-header">Some questions we would like to highlight:</p>
<ul class="about-list">
  <li class="about-item">Where should we best apply the two strategies: planning to learn and learning to plan?</li>
  <li class="about-item">What can we benefit from the integration of planning and learning, apart from the improved task performance and sample efficiency? particularly, safety, robustness, and explainability?</li>
  <li class="about-item">What factors in planning should be learned from data instead of being hand-crafted? And in the opposite, what factors in planning are most suitable to be defined by human experts instead of being learned?</li>
  <li class="about-item">When incorporating learned factors into planning, how do we maintain the original theoretical properties of planning, or what are the possible new criteria of defining guarantees for such integrated algorithms?</li>
  <li class="about-item">What are the new chances for using planning to help learning? And how do existing methods for planning to learn complement each other?</li>
  <li class="about-item">What are the chances to combine planning to learn and learning to plan, for instance, planning and learning in a closed-loop?</li>
</ul>

