<h2 class="section-title">{{ .titles.topics }}</h2>

<p class="about-list-header">Panel 1 - What, where, and how:</p>
<ul class="about-list">
  <li class="about-item">What: what to plan for and what to learn for?</li>
  <li class="about-item">Where: when do we want to integrate planning and learning? where to use planning as the main tool, and where to use learning as the main tool?</li>
  <li class="about-item">How: how are the principles of planning to learn and learning to plan different from standard planning and learning principles?</li>
  <li class="about-item">How to do it “properly”: what theoretical properties remain important for the integrated systems? How do we achieve them? Are new forms of theoretical guarantees necessary?</li>
  <li class="about-item">Other concerns: safety, computational cost, interpretability, etc.</li>
</ul>

<p class="about-list-header">Panel 2 - Retrospects and prospects:</p>
<ul class="about-list">
  <li class="about-item">From decomposition to integration: what are the key improvements?</li>
  <li class="about-item">Lessons learned from the past: what is proven to be right/promising, what has been proven to be wrong/not-so-promising?</li>
  <li class="about-item">What have we achieved till now by integrating planning and learning?  What is still lacking?</li>
  <li class="about-item">With recent developments of planning and learning sub-domains, what are the new chances for planning to learn, learning to plan, and their combinations?</li>
  <li class="about-item">Connection with relevant schemes, e.g, learning to learn (meta-learning), planning to plan (TAMP), active learning, etc.</li>
</ul>

