<h2 class="section-title">{{ .titles.topics }}</h2>

<h3 class="about-list-header">Panel I. Learning to plan, differentiable planner, and planning to learn.</h3>
<ul class="about-list">
  <li class="about-item">How are the principles of planning to learn and learning to plan different from standard planning and learning principles?</li>
  <li class="about-item">How to use learning subcomponents “properly”: What are the meaningful theoretical properties for the integrated systems? </li>
  <li class="about-item">Are differentiable planners merely structural priors for deep RL, or beyond that? How general are differentiable planners? How do they scale up?</li>
  <li class="about-item">Meta-problems in learning that can be solved using planning: which data to collect, hyper-parameter search, etc.</li>
  <li class="about-item">Using concepts in planning to improve and innovate learning algorithms, and vice versa.</li>
</ul>

<br/>

<h3 class="about-list-header">Panel II. Model learning, learning representations, and model-augmented learning.</h3>
<ul class="about-list">
  <li class="about-item">How to learn models that enable efficient reasoning for planning? How to quantify that? Is accuracy/dimensionality a good metric for judging the usefulness of a model for planning?</li>
  <li class="about-item">Should models predict in some (abstract) state or perceptual space?</li>
  <li class="about-item">Controversial: A differentiable simulator is all you need?</li>
  <li class="about-item">What are good object models? Meshes, implicit surfaces, shape primitives?</li>
  <li class="about-item">What parts of the world have to be modeled? Object interactions, dynamics, rewards, state reconstruction, discrete vs continuous aspects?</li>
</ul>

<br/>

<h3 class="about-list-header">Panel III. New opportunities for integrating planning and learning.</h3>
<ul class="about-list">
  <li class="about-item">What is a model? Do we want classical elementary models or end-to-end models? Or something in between?</li>
  <li class="about-item">When do we want to integrate planning and learning? Where to use planning as the main tool, and where to use learning as the main tool?</li>
  <li class="about-item">How do we determine what to plan for and what to learn for?</li>
  <li class="about-item">What have we achieved till now by integrating planning and learning?  What is still lacking?</li>
  <li class="about-item">With recent developments of planning and learning sub-domains, what are the new opportunities for planning to learn, learning representations, learning to plan?</li>
</ul>

