#particles-js {
  position: absolute;
  width: 100%;
  height: 366.5px;
  background-color: #013f7d;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 0%;
  top: 46.5px;
  left: 0;
  z-index: -100;
}
