#particles-js {
	position: absolute;
	width: 100%;
	height: calc(100% - 46.5px);;
	background-color: #00938a;
	background-image: url("");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0% 0%;
  top: 46.5px;
  left: 0;
  z-index: -100;
}
